<form action='/team_members' method='POST'>
	<div class="form-group">
		<input type="text" name="name" placeholder="Team Member Name" class="form-control" />
	</div>
	<div class="form-group">	
		<input type="text" name="high5s" placeholder="Starting High 5s" class="form-control"/>
	</div>
	<div class="form-group">	
		<input type="submit" value="Create new team member." class="btn btn-default" />
	</div>
</form>